.left {
	float: left;
}

.right {
	float: right;
}

.clearfix { 
	*zoom: 1; 
}

.clearfix:before, .clearfix:after { 
	display: table; 
	line-height: 0; 
	content: ""; 
}

.clearfix:after { 
	clear: both; 
}

.display-none {
	display: none;
}

body {
	padding: 20px;
}

.tab-pane {
	padding: 10px;
}

.tab-pane img {
	display: inline-block;
	margin: 0 80px 40px 0;
}

.carousel {
	width: 420px;
}

.carousel-inner {
	left: 80px;
}
.carousel-control {
	background: none;
	color: #333;
	border: none;
}

.carousel-control:hover {
	color: #333;
}
