LazyLoad=function(m){function d(b,a){var l=m.createElement(b),c;for(c in a)a.hasOwnProperty(c)&&l.setAttribute(c,a[c]);return l}function g(b){var a=q[b],c,d;a&&(c=a.callback,d=a.urls,d.shift(),k=0,d.length||(c&&c.call(a.context,a.obj),q[b]=null,t[b].length&&p(b)))}function h(){var b=navigator.userAgent;c={async:!0===m.createElement("script").async};(c.webkit=/AppleWebKit\//.test(b))||(c.ie=/MSIE|Trident/.test(b))||(c.opera=/Opera/.test(b))||(c.gecko=/Gecko\//.test(b))||(c.unknown=!0)}function p(b,
a,l,k,p){var r=function(){g(b)},u="css"===b,v=[],f,n,e,w;c||h();if(a)if(a="string"===typeof a?[a]:a.concat(),u||c.async||c.gecko||c.opera)t[b].push({urls:a,callback:l,obj:k,context:p});else for(f=0,n=a.length;f<n;++f)t[b].push({urls:[a[f]],callback:f===n-1?l:null,obj:k,context:p});if(!q[b]&&(w=q[b]=t[b].shift())){x||(x=m.head||m.getElementsByTagName("head")[0]);a=w.urls.concat();f=0;for(n=a.length;f<n;++f)l=a[f],u?e=c.gecko?d("style"):d("link",{href:l,rel:"stylesheet"}):(e=d("script",{src:l}),e.async=
!1),e.className="lazyload",e.setAttribute("charset","utf-8"),c.ie&&!u&&"onreadystatechange"in e&&!("draggable"in e)?e.onreadystatechange=function(){/loaded|complete/.test(e.readyState)&&(e.onreadystatechange=null,r())}:u&&(c.gecko||c.webkit)?c.webkit?(w.urls[f]=e.href,y()):(e.innerHTML='@import "'+l+'";',z(e)):e.onload=e.onerror=r,v.push(e);f=0;for(n=v.length;f<n;++f)x.appendChild(v[f])}}function z(b){var a;try{a=!!b.sheet.cssRules}catch(c){k+=1;200>k?setTimeout(function(){z(b)},50):a&&g("css");return}g("css")}
function y(){var b=q.css,a;if(b){for(a=r.length;0<=--a;)if(r[a].href===b.urls[0]){g("css");break}k+=1;b&&(200>k?setTimeout(y,50):g("css"))}}var c,x,q={},k=0,t={css:[],js:[]},r=m.styleSheets;return{css:function(b,a,c,d){p("css",b,a,c,d)},js:function(b,a,c,d){p("js",b,a,c,d)}}}(this.document);
(function(){function m(){var d;d="undefined"!=typeof jQuery?jQuery.fn.jquery:!1;if(d){d=d.split(".");for(var g=["1","10","0"],h=0;h<d.length;h++)d[h]=parseInt(d[h],10);for(h=0;h<g.length;h++)g[h]=parseInt(g[h],10);if(d[0]>g[0])return!1;if(d[0]<g[0])return!0;if(d[1]>=g[1])return!1}return!0}(function(){m()?LazyLoad.js("//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js",function(){_neonjQuery=$.noConflict(!0);LazyLoad.js("MAIN_JS_URL",function(){})}):(_neonjQuery=jQuery,LazyLoad.js("MAIN_JS_URL",function(){}))})()})();
